@charset "UTF-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
div {
  display: block;
}

.row-space-1 {
  margin-bottom: 6.25px
}
.row-space-top-1 {
  margin-top: 6.25px
}
.row-space-2 {
  margin-bottom: 12.5px
}
.row-space-top-2 {
  margin-top: 12.5px
}
.row-space-3 {
  margin-bottom: 18.75px
}
.row-space-top-3 {
  margin-top: 18.75px
}
.row-space-4 {
  margin-bottom: 25px
}
.row-space-top-4 {
  margin-top: 25px
}
.row-space-5 {
  margin-bottom: 31.25px
}
.row-space-top-5 {
  margin-top: 31.25px
}
.row-space-6 {
  margin-bottom: 37.5px
}
.row-space-top-6 {
  margin-top: 37.5px
}
.row-space-7 {
  margin-bottom: 43.75px
}
.row-space-top-7 {
  margin-top: 43.75px
}
.row-space-8 {
  margin-bottom: 50px
}
.row-space-top-8 {
  margin-top: 50px
}

.card {
  max-width: 600px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: box-shadow .2s cubic-bezier(0, .2, .4, 1);
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
  display: block;
}

.card .card-header {
  position: relative;
  line-height: 0;
}
.card .card-header:before {
    display: block;
    content: "\00A0";
    width: 100%;
    padding-top: 50%;
}

.card .card-header:after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    display: block;
    content: "\00A0";
    width: 100%;
    background: #EFF2F5;
}

.card .card-header .card-image {
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
  transition: background-color .5s;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card .card-header .card-image img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  top: 50%;
}
.card .card-header .card-label {
  background-color: rgba(255,255,255,.75);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: #282C35;
  box-sizing: border-box;
  padding: 2px 10px;
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 10px;
}
.card .card-body {
  padding: 5px 15px;
}
.card .card-body .card-date {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  color: #666A73;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2px 0 0;
}
.card .card-body .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
  color: #282C35;
  font-size: 15px;
  line-height: 18px;
  max-height: 36px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 0;
  height: 36px;
}
.card .card-body .card-venue {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #ADB0B6;
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  padding: 2px 0 0;
}
.card .card-footer {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-right: 80px;
  border-top: 1px solid #EFF2F5;
  padding-left: 15px;
}
.card .card-footer .card-tag {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.card .card-footer .card-tag a {
  color: #666A73;
  font-size: 12px;
  margin-right: 10px;
  text-transform: lowercase;
}
.card .card-footer .card-actions {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  line-height: 38px;
}
.card .card-footer .card-actions a, .card .card-footer .card-actions span {
  display: inline-block;
  color: #ADB0B6;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-left: 1px solid #EFF2F5;
  box-sizing: border-box;
  text-align: center;
}
